<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{- partial "head.html" . -}}

<body data-theme="{{ .Site.Params.defaultColor }}" class="notransition">
    {{- partial "scriptsBodyStart.html" . -}}
    {{- partial "header.html" . -}}
    {{- block "main" . }}{{- end }}
    {{- partial "footer.html" . -}}
    {{- partial "scriptsBodyEnd.html" . -}}
    {{/*
    <script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
    <script>
        addBackToTop({
            diameter: 56,
            backgroundColor: '#5354564d',
            textColor: '#fff'
        })
        
    </script> */}}
</body>

</html>